@media(min-width:375px) {
    .body {
        background: #E5E5E5;
        font-family: 'Poppins', sans-serif;
        margin-top: 2rem;
        margin-left: 15rem;
        color: #334D6E;
    }

    .dashboard {
        position: relative;
        width: 1440px;
        height: 850px;
        background-color: #F5F6F8;
        height: 850px;
        width: 1440px;
        border-radius: 0px;
    }

    .large {
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: 0.01em;
        text-align: left;
    }

    .invit {
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: 0.01em;
        text-align: left;
    }

    .taskschart {
        position: absolute;
        height: 344px;
        width: 445px;
        left: 957px;
        top: 470px;
        right: 38px;
        background: #FFFFFF;
        box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
        border-radius: 4px;
    }

    .deals {
        position: absolute;
        width: 445px;
        height: 344px;
        right: 38px;
        top: 96px;
        background: #FFFFFF;
        box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
        border-radius: 4px;
    }

    .tasks {
        position: absolute;
        width: 635px;
        height: 718px;
        left: 292px;
        right: 513px;
        top: 96px;
        background: #FFFFFF;
        box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
        border-radius: 4px;
    }

    .topdevider {
        /* display: none; */
        position: absolute;
        width: 1440px;
        height: 1px;
        left: 0px;
        right: 700px;
        top: 60px;
        background: #EBEFF2;
        z-index: 2;
    }

    .search {
        position: absolute;
        top: 22px;
        left: 38px;

    }

    .sidebar {
        position: absolute;
        width: 256px;
        height: 850px;
        left: 0px;
        top: 0px;
        bottom: 0px;
        background-color: white;
        box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
    }

    .searchbar {
        position: absolute;
        width: 1184px;
        height: 60px;
        left: 256px;
        right: 0px;
        top: 0px;
    }

    .pic {
        top: 85px;
        right: 300px;
        border-radius: 50%;
    }

    .profile {
        position: relative;
        margin-top: 50px;
        font-size: 10px;
        margin-bottom: 50px;
        padding-left: 30px;
    }

    .name {
        position: absolute;
        padding-bottom: 20px;
        font-size: 0.8rem;
        left: 86px;
        top: 7px;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
    }

    .ferg {
        position: absolute;
        top: 26px;
        left: 86px;
        font-family: Poppins;
        font-size: 11px;
        font-style: normal;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0.01em;
        text-align: left;
        color: #90A0B7;
    }

    .due {
        color: #4C5862;
        opacity: 0.5;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 19px;
    }

    .december {
        padding-left: 5px;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 19px;
        letter-spacing: 0.01em;
        color: #4C5862;
    }

    .arrow {
        position: absolute;
        top: 22px;
        padding-left: 5px;
    }

    .arrow2 {
        position: absolute;
        top: 25px;
        padding-left: 5px;
    }

    .arrow3 {
        position: absolute;
        top: 25px;
        padding-left: 5px;
    }

    .icon:hover {
        color: #109CF1;
    }

    .icon {
        position: absolute;
        left: 20px
    }

    .icon2 {
        position: absolute;
        left: -18px;
        top: 18px;
    }

    .icon2:hover {
        background-color: #109CF1;
    }

    .icon4 {
        position: absolute;
        left: 19px;
    }

    .sidelist {
        position: absolute;
        left: 0%;
    }

    .sidelist li {
        list-style: none;
        font-family: Poppins;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.01em;
        text-align: left;
        padding: 8px;
    }

    .settings {
        position: absolute;
        top: 240px;
    }

    svg:hover {
        fill: #109CF1;
    }


    .saaskit {
        position: absolute;
        width: 69px;
        height: 26px;
        left: 24px;
        top: 17px;
        font-family: 'Open Sans', 'sans-serif';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #109CF1;
    }

    .global {
        display: inline-block;
        position: absolute;
        width: 120px;
        height: 18px;
        left: 68px;
        top: 21px;
        padding-bottom: 21px;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.01em;
        color: #90A0B7;
        background-color: white;
        height: 40px;
        width: 1184px;
        left: 0px;
        top: 0px;
        border-radius: 0px;

    }

    .globtext {
        position: absolute;
        left: 68px;
        bottom: 22px;
    }

    .htask {
        padding-top: 15px;
        padding-left: 20px;
        font-family: Poppins;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.01em;
        text-align: left;
    }

    .htask2 {
        padding-top: 15px;
        padding-left: 20px;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: 0.01em;
        text-align: left;
    }

    .bell {
        position: absolute;
        left: 1128px;
        top: 20px;
    }

    .red {
        position: absolute;
        right: 0.01px
    }

    .line {
        position: relative;
        height: 4px;
        left: 24px;
        right: 141px;
        top: 24px;
    }

    .gray {
        margin-left: 30px;
        bottom: 40px;
    }

    .progress {
        bottom: 3rem;
    }

    .days {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 30px;
        padding-bottom: 0;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        font-family: Poppins;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.01em;
        text-align: center;
        color: #334D6E;
        opacity: 0.5;
    }

    .dates {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding-left: 30px;
        margin-top: 0;
        padding-right: 30px;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.01em;
        text-align: center;
        color: #334D6E;
        opacity: 0.5;
    }

    .namefont {
        position: absolute;
        padding-left: 7px;
        font-family: Poppins;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.01em;
        text-align: left;
    }

    .dealdevider {
        position: absolute;
        height: 1px;
        left: 0px;
        right: 0px;
        top: 54px;
        background: #EBEFF2;
    }

    .closed {
        position: absolute;
        padding: 20px;
        margin-bottom: 30px;
        left: 9px;
        margin-top: 7px;
        font-family: Poppins;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0.01em;
        text-align: left;
    }

    .closedtext {
        padding-left: 5px;
    }

    .graph {
        position: absolute;
        top: 105px;
        left: 20px;
    }

    .send {
        position: absolute;
        height: 126px;
        left: 24px;
        right: 24px;
        top: 243px;
        background: #FFFFFF;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
        border-radius: 4px;
        padding-left: 10px;
        padding-bottom: 5px;
    }

    .reminder {
        position: absolute;
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        right: 16px;
        top: 22px;
        text-align: right;
        letter-spacing: 0.01em;
        color: #90A0B7;
    }

    .george {
        list-style-type: none;
        padding-left: 0;
        font-size: 13px;
        font-weight: 400;
        color: #707683;
    }

    .dea {
        position: relative;
    }

    .dealz {
        position: relative;
        left: -27px;
    }

    .dealzz {
        position: absolute;
        left: -14px;
    }

    .dealzzz {
        position: absolute;
        left: -8px;
    }

    .georg {
        border-radius: 50%;
        margin-right: 3px;
    }

    .completed {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        padding-top: 2px;
        width: 84px;
        height: 18px;
        font-size: 10px;
        background-color: #2ED47A;
        border-radius: 4px;
        margin-left: 28rem;
        border-width: 10rem;
        color: white;
    }

    .completed2 {
        position: absolute;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        padding-top: 2px;
        width: 84px;
        height: 18px;
        right: 17px;
        bottom: 7px;
        font-size: 10px;
        background-color: #2ED47A;
        border-radius: 4px;
        margin-left: 22rem;
        border-width: 10rem;
        color: white;
    }

    .ended {
        position: absolute;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        padding-top: 2px;
        width: 84px;
        height: 18px;
        bottom: 5px;
        right: 15px;
        font-size: 11px;
        background-color: #F7685B;
        border-radius: 4px;
        margin-left: 22rem;
        border-width: 10rem;
        color: white;
    }

    .Rebecca {
        list-style-type: none;
        padding-left: 0;
        font-size: 13px;
        color: #707683;
        font-weight: 400;
    }

    .rebecc {
        border-radius: 50%;
        margin-right: 7px;
    }

    .Lindsey {
        list-style-type: none;
        padding-left: 0;
        font-size: 13px;
        color: #707683;
        font-weight: 400;
    }

    .dash {
        color: #109CF1;
    }

    .toggle {
        display: inline-block;
        position: relative;
        top: 390px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;
        letter-spacing: 0.01em;
        color: #90A0B7;
        list-style: none;
    }

    .tog:hover {
        background-color: #109CF1;
    }

    .dealtext {
        position: absolute;
        left: 8px;
    }

    .tog {
        display: inline-block;
        position: relative;
        width: 14px;
        height: 14px;
        left: -20px;
        top: 4px;
        background: #C4C4C4;
        border-radius: 2px;
    }

    .vert {

        position: absolute;
        width: 2px;
        height: 10px;
        left: -15px;
        bottom: 2px;
        background: white;
        border-radius: 1px;
    }

    .lind {
        border-radius: 50%;
        margin-right: 7px;
    }

    .sidedev {
        position: absolute;
        width: 256px;
        height: 1px;
        left: 0px;
        top: 230px;
        background: #EBEFF2;
    }

    .invite {
        position: absolute;
        height: 126px;
        left: 24px;
        right: 24px;
        top: 385px;
        padding: 10px;
        background: #FFFFFF;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.14);
        border-radius: 4px;
    }

    .office {
        position: absolute;
        height: 126px;
        left: 24px;
        right: 24px;
        top: 393px;
        margin-top: 150px;
        padding-bottom: 10px;
        background: #FFFFFF;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.14);
        border-radius: 4px;
        padding-left: 7px;
    }

    .show {
        text-align: center;
        color: #109CF1;
        font-family: Poppins;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0.01em;
        text-align: center;
    }

    .deeal {
        padding-left: 20px;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: 0.01em;
        text-align: left;
    }

    .taskhead {
        padding-left: 20px;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: 0.01em;
        text-align: left;
    }

    .tasklist {
        position: absolute;
        font-family: Poppins;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0.01em;
        text-align: left;
        list-style: none;
        right: 20px;
        top: 164px;
    }

    .tasklist li {
        padding: 6px;
    }

    .tasklist img {
        padding-right: 8px;
    }

    .six {
        position: absolute;
        top: 88px;
        left: 48px;
    }

    .pen {
        position: absolute;
        right: 135px;
        top: 125px;
    }

    .trash {
        position: absolute;
        right: 113px;
        top: 125px;
    }

    .week {
        padding-left: 270px;
        font-size: 12px;
    }

    .this {
        color: #109CF1;
        font-size: 12px;
    }

    .month,
    .month2 {
        padding-left: 220px;
        font-size: 12px;
    }

    .monthly,
    .monthly2 {
        color: #109CF1;
        font-size: 12px;
    }

    .twentythree {
        background-color: #109CF1;
        border-radius: 50%;
        color: white;
        width: 22px;
        text-align: center;
    }

    .mon,
    .tfour {
        font-weight: bolder;
        color: #109CF1;
    }

    .progress2,
    .small,
    .smclosed,
    .smmonth,
    .line2,
    .gray2,
    .smgraph,
    .topdevider2 {
        display: none;
    }
}